* {
    font-family: 'Cormorant SC', serif;
}

a:hover {
    transition: .3s ease-in-out, box-shadow .3s ease-in-out;
    color:rgb(120, 120, 120)
  }

.button:hover {
transition: .3s ease-in-out, box-shadow .3s ease-in-out;
color:rgb(123, 119, 119)
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right,  rgb(54, 176, 242), rgb(176, 176, 176));
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px;
    font-weight: 200px;
    font-size: larger;
}

.time-box {
    display:flex;
    margin-right: 30px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#highscores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

#container {
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px;
    background-image: linear-gradient(to right, rgb(176, 176, 176), rgb(54, 176, 242));
    border-radius: 8px;
    width: 35%;
    max-height: 40%;

}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px;
    width: 400px;
    height: 150px;
}

.button {
    background-color: grey;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: solid black;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px;
    outline: none;
}

.correct {
    background-color: rgb(8, 200, 8);
}

.incorrect {
    background-color: red;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    font-weight: bold;
    padding: 8px 16px;
}

.next-button {
    font-weight: bold;
    padding: 8px 16px;
}

.hide {
    display: none;
}